#logo {
    opacity: 0;
    filter: blur(5px);
    transform: scale(0.8);
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: blur(5px);
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
    }
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}