/* Página de Login */
#login-page {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: #222429;
    color: #f5f5f5;
}

#login-page.hidden {
    display: none;
}

/* Página de Chat */
#chat-page {
    width: 100vw;
    height: 100vh;
    display: none;
}

#chat-page.active {
    display: grid;
    grid-template-columns: auto 25vw;
}